body {
  height: auto;
  width: max-content;
  background-color: white;
  /* box-shadow: 0 0 5px 2px; */
  /* border-radius: 10%; */
  /* margin: 10px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 5px;
  padding: 3px;
}

hr {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-image: url(./components/ContactList/image/social-group.svg);
  list-style-position: inside;
}

button {
  font-weight: 600;
  padding: 1px 2px;
  border-style: double;
  background-color: white;
  border-radius: 10%;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: tomato;
  outline: none;
}

form {
  width: max-content;
  border-style: hidden;
  box-shadow: 0 0 5px 2px;
  margin: 35px;
}

li {
  border-style: hidden;
  width: 260px;
  margin: 5px;
  background-color: white;
  /* box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5); */
  /* box-shadow: 0 0 5px 2px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1,
h2,
h3 {
  color: teal;
  text-align: left;
  margin-left: 20px;
  /* text-shadow: 1px 1px 1px black, 0 0 0 black; */
}

.NavLinkList {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.NavLinkItem {
  font-style: normal;
  font-size: 22px;
}

.NavLink {
  color: gray;
}

.NavLinkActive {
  color: teal;
  font-weight: 600;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: underline;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
